.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background: linear-gradient(180deg, #d3d9e3 0%, rgba(225, 230, 237, 0) 100%)
    no-repeat;
}

.container {
  margin: 0 auto;
  min-width: 1200px;
}
