.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 16px;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(180deg, rgba(225, 230, 237, 0) 0%, #D3D9E3 100%) no-repeat;
}