* {
  margin: 0;
  font-family: "TT Firs Neue", serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Regular"), local("TTFirsNeue-Regular"),
    url("./fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Bold"), local("TTFirsNeue-Bold"),
  url("./fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Medium"), local("TTFirsNeue-Medium"),
  url("./fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
